<div class="card font mt-3">
  <div class="card-header">
    <h3 class="offset-4">Cadastro de estoques para materias primas</h3>
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome">
        </div>
        <div class="form-group col-md-6">
          <label for="capacidade">Capacidade</label>
          <input type="text" class="form-control" id="capacidade">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input mt-3" type="checkbox" id="gridCheck">
          <label class="form-check-label " for="gridCheck">
            Materias primas
          </label>
        </div>
      </div>
      <button  class="btn btn-success">Cadastrar</button>
    </form>
  </div>
</div>
